







* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
}




/* -----------------------------Top-page---------------------------------- */

h1{
    color: #ffff;
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}


p{
    color: #ffff;
    font-size: 15px;
text-align: center;

}


header img{
    width:  40px;
    height: 40px;
    cursor: pointer;
    cursor: hand;
    margin-top: 20px;
    margin-left: 20px;
}


header{
    top:0;
    position: fixed;
    background-color: transparent;
    z-index: 5;

}





.top-title{
    background-image: url(./images/IMG_5842-2-2.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;

}



.tittle-container{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50% , -50%);
}

.except-tittle{
padding-top: 60px;
padding-bottom: 100px;
}

h2{
    font-size: 30px;
    color: #ffff;
    display: inline-block;
    position: relative;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

h2:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 90px;
    display: inline-block;
    width: 50px;
    height: 3px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置調整*/
    background-color: #666666; /*下線の色*/
  }

.work{

    background-color: #ffff;
    padding-left: 20px;
    padding-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.work h2{
    color: black;

}

.work p{
    color: black;

}

.all-work img{
    width:100%;
    vertical-align: middle;
    margin-bottom: 50px
}


.about{

    background-color: #f5f5fa;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
}

.about h2{
    color: black;
}

.about p{
    color: black;
}



.detail{
    width: 80%;
    word-wrap: break-word;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom:100px;
    text-align: left;
}



.about img{
object-fit: contain;
width:100%;

}

.contact{
    background-color: #ffff;
    text-align: center;
}

.contact h2 {
    color: black;
}

.contact p {
    color: black;
}

.contact-botton{
    width: 70%;
    font-size:15px;
padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;


}

.contact-sentence{
    padding-bottom: 60px;
    text-align: left;
}

.send {

    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1.5em;
    background-color: #00ffff;
    border: 2px solid #00ffff;
    text-align: center;
    color: #333;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    text-decoration:none;

}

.send:hover {
    cursor: pointer;
      text-decoration: none;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      background-color: #fff;
}

footer{
    background-color: black;
    padding: 30px 0;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

.items{
text-align: center;

}

.sns-item{
    font-size: 25px;
    color: #ffff;

}

.Copyright{
    font-size: 10px;
    padding-top: 30px;
}


@media (min-width : 768px){
    h1{
        font-size: 55px;
    }

    p{
        font-size:20px;
    }

    h2{
        font-size: 35px;
    }

    header img{
        width:  60px;
        height: 60px;
        margin-top: 40px;
        margin-left: 40px;
    }

    .work{
        padding-left: 60px;
        padding-right:60px;

    }



    .about-ipad{
        display: flex;
        flex: wrap;
        align-items: stretch;
        justify-content: center;
        padding-bottom: 100px;

    }

    .about{
        padding-left: 3em;
        padding-right: 3em;
}
    .detail{
        width:50%;
        padding: 0;
        margin-left: 30px;

    }


    .About-image {
        margin-right: 30px;
    }

    .sns-item{
        font-size: 40px;

    }

    .Copyright{
        font-size: 15px;

    }


ul{
justify-content: center;
}



}






/* ----------------------------------work1 ---------------------------------*/

.work-top{

    background-image: url(./images/photo-1548174753-897b449b097e.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    height: 50vh;
    box-sizing: border-box;
}

.work-tittle{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50% , -50%);
}

.summary{
    background-color: #ffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

.summary p{
text-align: left;
color: black;

}

.summary h2{
color: black;

}

.work-img{
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}

.work-img img{
    margin-bottom: 50px;
}


















nav.NavMenu{
　position: fixed; /*表示位置を固定*/
　z-index: 2; /*重ね順を変更*/
　top: 0; /*表示位置を指定*/
　left: 0; /*表示位置を指定*/
　background: #fff;/*背景を白にする*/
　color: #000; /*文字色を黒にする*/
　text-align: center; /*テキストを中央揃え*/
　width: 100%; /*全幅表示*/
　transform: translateY(-100%); /*ナビを上に隠す*/
　transition: all 0.6s; /*アニメーションの時間を指定*/
}

nav.NavMenu ul{
　background: #ccc; /*背景をグレーにする*/
　width: 100%;
　margin: 0 auto;
　padding: 0;
}

nav.NavMenu ul li{
　font-size: 1.1em;
　list-style-type: none;
　padding: 0;
　width: 100%;
　border-bottom: 1px dotted #333;
}

nav.NavMenu ul li:last-child{
　padding-bottom: 0;
　border-bottom: none; /*最後のメニュー項目のみ下線を消す*/
}

nav.NavMenu ul li a{
　display: block; /*クリックできる領域を広げる*/
　color: #000;
　padding: 1em 0;
}

nav.NavMenu.active{
　transform: translateY(0%);
}


/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
}

.Toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
    left: 6px;
}

.Toggle span:nth-child(1) {
    top: 9px;
}

.Toggle span:nth-child(2) {
    top: 18px;
}

.Toggle span:nth-child(3) {
    top: 27px;
}

/* 最初のspanをマイナス45度に */
.Toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
